@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*AREA CONTATO */
.body-contact {
  background-color: #fff;
}

.container-contato {
  padding-top: 80px;
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  
 
}

.content-contato{
  margin-top: 100px;
}

.content-contato h1 {
  padding-bottom: 15px;
  text-align: left;
}
.content-contato p {
  padding-bottom: 20px;
  text-align: center;
  padding: 40px;
  padding-top: 10px;
  font-family: 'Montserrat';
  line-height: 1.5;
 
}

.content-contato h1 {
  font-family: var(--font-principal);
  color: #33a74a;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}


.container {
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
  color: #333;
  font-family: 'Montserrat';
}

label {
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

button[type="submit"] {
  background-color: #33a74a;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #186427;
}

form{
  font-family: 'Montserrat';
  text-align: left;
}


#svg-contact{
  width: 350px;
  margin-bottom: 20px;
}

.contacts{
  justify-content: center;
  display: flex;
  gap: 40px;
  
}


.contacts > img:first-child{
  margin-left: 18px;
}

@media screen and (max-width: 1030px) {

  .container-contato{
    flex-direction: column;
  }
  
}