@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.content-contato h1 {
  font-family: var(--font-principal);
  color: #33a74a;
  font-size: 60px;
  font-weight: 300;
}
